<div class="text-center">
<div class="bs-divider"><button class="btn btn-lg btn-primary"><i class="fa fa-user"></i></button></div>
<h3><%= User.count %></h3>
<div class="bs-divider"><h1>用户数</h1></div>
<h1>45</h1>
<div class="bs-divider"><h1>用户数</h1></div>
<h1>45</h1>
<div class="bs-divider"><h1>用户数</h1></div>
<h1>45</h1>
</div>
